@page "/disciplines"
@using Microsoft.EntityFrameworkCore
@using System.Linq
@using Microsoft.AspNetCore.Components.QuickGrid
@using BlazorAcademyHW.Models
@using BlazorAcademyHW.Data
@inject IDbContextFactory<BlazorAcademyHW.Data.BlazorAcademyHWContext> DbFactory
@rendermode InteractiveServer

<PageTitle>Index</PageTitle>
<h1>Disciplines</h1>
<p><a href="disciplines/create">Create New</a></p>

<div class="discipline-grid" style="overflow-x: auto;">
    <QuickGrid Class="table table-striped" Items="disciplinesList.AsQueryable()" Pagination="pagination">
        <PropertyColumn Property="disciplines => disciplines.Name" Sortable="true" Title="Name" />
        <PropertyColumn Property="disciplines => disciplines.Lessons" Sortable="true" Title="Lessons" />
        <Paginator State="pagination" />
        <TemplateColumn Context="disciplines">
            <a href="@($"disciplines/edit?id={disciplines.Id}")">Edit</a> |
            <a href="@($"disciplines/details?id={disciplines.Id}")">Details</a> |
            <a href="@($"disciplines/delete?id={disciplines.Id}")">Delete</a>
        </TemplateColumn>
    </QuickGrid>
</div>


<style>
    .discipline-grid table {
        table-layout: fixed;
        width: 100%;
    }
    .discipline-grid th:nth-child(1), .discipline-grid td:nth-child(1) { width: 45%; } /* Name */
    .discipline-grid th:nth-child(2), .discipline-grid td:nth-child(2) { width: 20%; } /* Lessons */
    .discipline-grid th:nth-child(3), .discipline-grid td:nth-child(3) { width: 35%; } /* Actions */
</style>

@code {
    private List<Disciplines> disciplinesList = new();
    private PaginationState pagination = new() { ItemsPerPage = 10 };

    protected override async Task OnInitializedAsync()
    {
        await LoadDisciplines();
    }

    private async Task LoadDisciplines()
    {
        using var ctx = DbFactory.CreateDbContext();
        disciplinesList = await ctx.Disciplines
            .AsNoTracking()
            .ToListAsync();

        await pagination.SetCurrentPageIndexAsync(0);
    }
}