@page "/students/edit"
@using Microsoft.EntityFrameworkCore
@using BlazorAcademyHW.Models
@inject IDbContextFactory<BlazorAcademyHW.Data.BlazorAcademyHWContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Students</h2>
<hr />
@if (Students is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Students" OnValidSubmit="UpdateStudents" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Students.Id" value="@Students.Id" />
                <div class="mb-3">
                <span class="text-danger">*</span>
                    <label for="last_name" class="form-label">last_Name:</label>
                    <InputText id="last_name" @bind-Value="Students.last_Name" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Students.last_Name" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="first_nam" class="form-label">first_Nam:</label>
                    <InputText id="first_nam" @bind-Value="Students.first_Nam" class="form-control" />
                    <ValidationMessage For="() => Students.first_Nam" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="middle_name" class="form-label">middle_name:</label>
                    <InputText id="middle_name" @bind-Value="Students.middle_name" class="form-control" />
                    <ValidationMessage For="() => Students.middle_name" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="dateofbirth" class="form-label">DateOfBirth:</label>
                    <InputDate id="dateofbirth" @bind-Value="Students.DateOfBirth" class="form-control" />
                    <ValidationMessage For="() => Students.DateOfBirth" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">email:</label>
                    <InputText id="email" @bind-Value="Students.email" class="form-control" />
                    <ValidationMessage For="() => Students.email" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">phone:</label>
                    <InputText id="phone" @bind-Value="Students.phone" class="form-control" />
                    <ValidationMessage For="() => Students.phone" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="photo" class="form-label">photo:</label>
                    <InputText id="photo" @bind-Value="Students.photo" class="form-control" />
                    <ValidationMessage For="() => Students.photo" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="group" class="form-label">group:</label>
                    <InputDate id="group" @bind-Value="Students.group" class="form-control" />
                    <ValidationMessage For="() => Students.group" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/students">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Students? Students { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Students ??= await context.Students.FirstOrDefaultAsync(m => m.Id == Id);

        if (Students is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateStudents()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Students!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!StudentsExists(Students!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/students");
    }

    private bool StudentsExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Students.Any(e => e.Id == id);
    }
}
