@page "/directions/edit"
@using Microsoft.EntityFrameworkCore
@using BlazorAcademyHW.Models
@inject IDbContextFactory<BlazorAcademyHW.Data.BlazorAcademyHWContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit Direction</PageTitle>

<h1>Edit Direction</h1>

@if (Direction is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <EditForm Model="Direction" OnValidSubmit="UpdateDirection" FormName="editDirection" Enhance>
        <DataAnnotationsValidator />
        <ValidationSummary />
        <input type="hidden" name="Direction.Id" value="@Direction.Id" />
        <div class="mb-3">
            <label for="name" class="form-label">Name:</label>
            <InputText id="name" @bind-Value="Direction.Name" class="form-control" />
            <ValidationMessage For="() => Direction.Name" class="text-danger" />
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="/directions" class="btn btn-secondary">Cancel</a>
    </EditForm>
}

@code {
    [SupplyParameterFromQuery] private int Id { get; set; }
    [SupplyParameterFromForm] private Directions? Direction { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Direction == null)
        {
            using var context = DbFactory.CreateDbContext();
            Direction = await context.Directions.FirstOrDefaultAsync(d => d.Id == Id);
            if (Direction == null) NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task UpdateDirection()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Direction!).State = EntityState.Modified;
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/directions");
    }
}