@page "/directions"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BlazorAcademyHW.Models
@using BlazorAcademyHW.Data
@implements IAsyncDisposable
@inject IDbContextFactory<BlazorAcademyHW.Data.BlazorAcademyHWContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="directions/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Directions">
    <PropertyColumn Property="directions => directions.Name" />

    <TemplateColumn Context="directions">
        <a href="@($"directions/edit?id={directions.Id}")">Edit</a> |
        <a href="@($"directions/details?id={directions.Id}")">Details</a> |
        <a href="@($"directions/delete?id={directions.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private BlazorAcademyHWContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
