@page "/groups/edit"
@using Microsoft.EntityFrameworkCore
@using BlazorAcademyHW.Models
@inject IDbContextFactory<BlazorAcademyHW.Data.BlazorAcademyHWContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Groups</h2>
<hr />
@if (Groups is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Groups" OnValidSubmit="UpdateGroups" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Groups.Id" value="@Groups.Id" />
                <div class="mb-3">
                <span class="text-danger">*</span>
                    <label for="name" class="form-label">Name:</label>
                    <InputText id="name" @bind-Value="Groups.Name" class="form-control" aria-required="true"/>
                    <ValidationMessage For="() => Groups.Name" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="direction" class="form-label">Direction:</label>
                    <InputText id="direction" @bind-Value="Groups.Direction" class="form-control" />
                    <ValidationMessage For="() => Groups.Direction" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/groups">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Groups? Groups { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Groups ??= await context.Groups.FirstOrDefaultAsync(m => m.Id == Id);

        if (Groups is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateGroups()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Groups!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!GroupsExists(Groups!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/groups");
    }

    private bool GroupsExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Groups.Any(e => e.Id == id);
    }
}
